# Okta extension: Configure authentication
# This appends to base.py settings

# Override REST Framework authentication settings
REST_FRAMEWORK['DEFAULT_AUTHENTICATION_CLASSES'] = [
    'auth.authentication.OktaJWTAuthentication',
]
REST_FRAMEWORK['DEFAULT_PERMISSION_CLASSES'] = [
    'rest_framework.permissions.IsAuthenticated',
]

# Okta Configuration
# Non-confidential values baked in at generation time
OKTA_ISSUER = '{{{oktaIssuer}}}'
OKTA_ROLE_CLAIM_KEY = '{{{roleClaimKey}}}'
{{#tenantIdClaimKey}}
OKTA_TENANT_CLAIM_KEY = '{{{tenantIdClaimKey}}}'
{{/tenantIdClaimKey}}
{{^tenantIdClaimKey}}
OKTA_TENANT_CLAIM_KEY = ''
{{/tenantIdClaimKey}}

# Audience - read from env var with default
OKTA_AUDIENCE = os.environ.get('PYTHON_DRF_OKTA_AUDIENCE', 'api://default')
